* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
    background-image: /*linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,*/ url("./b2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Baloo Tamma 2', sans-serif;
    text-shadow: 2px 2px #000000;
}

/* Preloader */

.preloader {
    background-color: #222;
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.preloader.opacity-0 {
    opacity: 0;
}

.preloader .loader {
    height: 2.5rem;
    width: 2.5rem;
    border: 0.25rem solid #e3e3e3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.whole {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 90px;
    font-weight: bold;
    color: white;
}

#search-bar {
    padding: 10px;
    opacity: 60%;
    margin-right: 20px;
    width: 400px;
    /*width:auto;*/
    min-height: 50px;
    height: auto;
    color: black;
    background-color: rgba(250, 250, 250);
    border: 1px rgba(250, 250, 250);
    border-radius: 5px;
    background-clip: padding-box;
}

::placeholder {
    font-size: 20px;
    color: black;
}

/* #search-btn
  {
    background-color: rgba(0, 0, 0, 0.46);
    border:1px solid rgba(0, 0, 0, 0.46);
    color: white;
    width:80px;
    min-height:50px;
    padding:2px;
    text-align:center;
    font-size: 20px;
    border-radius: 10px;
  }
  #search-btn:hover
  {
    background-color:white;
    color:black;
    border:1px solid white;
    transition: 0.5s;
  } */

#city,
#description {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.container-1 {
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.container-2 {
    margin: 0 10px 20px 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
}

#search {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 992px) {
    .heading {
        font-size: 60px;
    }

    .col {
        width: 25%;
    }

    /* .container-1 {display :none;} */
}
