*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}



body
{
  margin: auto;
  padding: auto;
  background-image:/*linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,*/ url("./b2.jpg");
  background-size: cover;
  background-position: center;
  height:100vh;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Baloo Tamma 2', sans-serif;
  text-shadow: 2px 2px #000000;
}

.whole
{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.heading
{
  text-align: center;
  margin-top: 30px;
  margin-bottom:30px;
  font-size: 90px;
  font-weight: bold;
  color:white;
}

#search-bar
{
  padding:10px;
  opacity: 60%;
  margin-right:20px;
  width:400px;
  /*width:auto;*/
  min-height: 50px;
  height:auto;
  color:black;
  background-color: rgba(250,250,250);
  border: 1px  rgba(250,250,250);
  border-radius: 5px;
  background-clip: padding-box;
}
::placeholder
{
  font-size: 20px;
  color:black;
}

#search-btn
{
  background-color: rgba(0, 0, 0, 0.46);
  border:1px solid rgba(0, 0, 0, 0.46);
  color: white;
  width:80px;
  min-height:50px;
  padding:2px;
  text-align:center;
  font-size: 20px;
  border-radius: 10px;
}
#search-btn:hover
{
  background-color:white;
  color:black;
  border:1px solid white;
  transition: 0.5s;
}

#city,#description
{
  margin:10px;
  padding:10px;
  text-align:center;
  font-size: 40px;
  color:white;
}

.container-1
{
  margin-top:20px;
  padding:10px;
  font-size:30px;
  text-align: center;
  color:white;
}

.container-2
{
  margin:0 10px 20px 10px;
  padding:10px;
  font-size:30px;
  text-align: center;
  color:white;
}

#search
{
  text-align: center;
  padding:20px;
}

@media only screen and (max-width: 992px)
{
  .heading {font-size: 60px;}
  .col {width: 25%;}
  .container-1 {display :none;}
}
