<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
      {{>navbar}}
     <!-- MAIN HEADER -->
         <div class="container-fluids main_header">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-11 col-12 main_header_left align-items-center">
                           <figure>
                               <img src="images/4.jpg" alt="Sankalp Tripathi" class="img-fluid" title="Sankalp Tripathi"> 
                           </figure>
                         <p>Welcome to weather app</p>
                         <h1>{{errorMsg}}</h1>
                          <a href="/"><button>Go back</button></a>
                    </div>
                  </div>
                </div>
              </div>  
              
              <!-- FOOTER SIDE -->
               {{>footer}}

</body>
</html>