<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
      {{>navbar}}
     <!-- MAIN HEADER -->
         <div class="container-fluids main_header">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                           <figure>
                               <img src="images/about.png" alt="Sankalp Tripathi" class="img-fluid" title="Sankalp Tripathi"> 
                           </figure>
                    </div>
                  <!-- Left side div -->
                  <div class="col-md-6 col-12 main_header_left ">
                         <p>Welcome to weather app</p>
                         <h1>I am a <span class="text_clr">Full Stack Web Developer. </span></h1>
                          <a href="/weather"><button>Check now</button></a>
                  </div>
                </div>
              </div>  
              
              <!-- FOOTER SIDE -->
               {{>footer}}

</body>
</html>