.form {
    font-family: Helvetica, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    background: #f7f7f7;
  }
  .form h1 {
    background: #35b5ac;
    padding: 20px 0;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    font-size:  25px;
  }
  .form input[type="text"],
  .form input[type="url"] {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
  }
  .form input[type="text"]:focus,
  .form input[type="url"]:focus {
    box-shadow: 0 0 5px #35b5ac;
    padding: 3%;
    border: 1px solid #35b5ac;
  }
  
  .form button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    margin: 10px auto;
    padding: 3%;
    background: #35b5ac;
    border-bottom: 2px solid #35b5ac;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .form button:hover {
    background: rgba(168,227,223, 1);
  }
  #qrcode-container{
      display:none;
  }
  .qrcode{
    padding: 20px;
  }
  .qrcode img{
    margin: 0 auto;
  }
  