body{
  background-color: #39e6e3;
}

.container{
  position: relative;
  top: 50px;
  left: 550px;
  border: 2px solid black;
  width: 420px;
}

table{
  margin: auto;
}

input{
  margin-left: 5px;
  width: 400px !important;
  font-size: 38px;
  border: 2px solid black;
}

button{
  font-size: 40px;
  width: 100px;
  height: 57px;
  color: #39e6e3;
  background-color: rgb(7, 39, 58);
}

button:hover{
  cursor: pointer;
  background-color: white;
}

footer{
  margin-top: 4%;
  margin-left: 41%;
  font-size: 25px;
}
